      <div class="row">
        <div class="col-lg-9">
            <h1>The index page</h1>
            <p>this is the index page</p>
         </div>
        <div class="col-lg-3">
          <div class="well sidebar-nav">
            <h3>Sidebar</h3>
            <ul class="nav nav-list">
              <li>{{#link-to "index"}}Index{{/link-to}}</li>
              <li>{{#link-to "about"}}About{{/link-to}}</li>
              <li>{{#link-to "pages.index"}}Pages{{/link-to}}</li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
      </div><!--/row-->

      <footer>
        <p>&copy; Company 2014</p>
      </footer>
